/* p
 *  background-color: black */
body {
  overflow-x: hidden;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  border-right: 1px solid #ebe8e8;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.list ul {
  list-style: none;
  margin: 0;
  padding-left: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
}
.list ul li {
  width: 88%;
}
.list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6rem;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  -webkit-transition: all 95ms ease;
  transition: all 95ms ease;
}
.list ul li a:hover {
  color: purple;
  margin-left: 0.7rem;
}
.list ul li.active {
  border-radius: 0.4rem;
  background-color: rgba(218, 206, 224, 0.7803921569);
  padding: 0 0.6rem;
}

.navbar {
  border-bottom: 1px solid #ebe8e8;
  padding-bottom: 0.5rem;
  margin-bottom: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}
.navbar .options .banner {
  color: white;
  background-color: rgba(199, 18, 48, 0.7803921569);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1rem 0.3rem;
  border-radius: 5rem;
  font-size: 0.8rem;
  position: absolute;
  top: 2rem;
  right: 11rem;
}
.navbar .options .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.navbar .options .info .content {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.02rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.navbar .options .info .content small {
  color: grey;
}
.navbar .options .info .content h4 {
  margin: 0 !important;
  padding: 0 !important;
}
.navbar .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin: 0.4rem 2rem;
  width: 27%;
}
.navbar .search .menuBtn {
  display: none;
}

.MuiFilledInput-input {
  padding: 0.6rem !important;
}

.main-section {
  width: 96%;
  height: 100%;
  padding: 1rem 7rem 1rem 2rem;
  background-color: #f5f3f7;
}
.main-section .tasks ul {
  padding: 0;
  margin-top: 2rem;
}
.main-section .tasks ul li {
  list-style: none;
}
.main-section .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}
.main-section .info-cell {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  align-items: center;
}
.main-section .info-cell h5 {
  margin: 0.1rem 0;
}
.main-section .other-details {
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5rem 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}
.main-section .graphs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.main-section .graphs small {
  color: grey;
}
.main-section .graphs .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-section .graphs .header .title h2 {
  margin-bottom: 0.5rem;
}
.main-section .info {
  color: green;
}
.main-section .cards {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7rem 1fr 0.7rem 1fr 0.7rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.7rem;
}
.main-section .cards .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.main-section .cards h2 {
  margin-bottom: 0.4rem;
}
.main-section .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-section .heading .title h2 {
  margin-bottom: 0.8rem;
}
.main-section .heading .title small {
  color: grey;
  font-size: 0.8rem;
}
.main-section .heading .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}