@media only screen and (max-width: 1196px)
    .avatar
            display: none
@media only screen and (max-width: 1111px)
    .info-cell
        small
            display: none
    span.tasks
        display: none

@media only screen and (max-width: 1024px)
    .main-section
        .cards
            grid-template-columns: 1fr 1fr
        .graphs
            grid-template-columns: 1fr 

        .other-details
            grid-template-columns: 1fr

@media only screen and (max-width: 992px)
    .navbar
        .search
            .menuBtn
                 display: block
    .navbar,.main-section
        width: 100vw
    .sidebar
        margin: 0
        position: fixed
        top: 0
        width: 13rem
        height: 100%
        z-index: 10
        box-shadow: 3px 1px 10px 0px rgba(181,168,168,0.75)

        background-color: white
        display: none




